@page
@model library.Pages.Publishers.NewPublisher

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "NowyWydawca";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
@{await Html.RenderPartialAsync("_NavigationPartial");}
<div>
    <form method="post">
        <input type="text" placeholder="Nowy wydawca" name="Name" class="form-control"  required="required"/>
        <input type="submit" class="btn btn-primary" value="Dodaj"/>
    </form>
</div>
</body>
</html>