@page
@model library.Pages.Publishers.ShowPublishers

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Wydawcy";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
@{await Html.RenderPartialAsync("_NavigationPartial");}
<div class>
    <table class="table table-striped">
        <thead>
        <tr><th>Nazwa</th></tr>
        </thead>
        <tbody>
        @foreach (var publisher in Model.Publishers)
        {
            <tr>
                <td>
                    @publisher.Name
                </td>
            </tr>
        }
        </tbody>
    </table>
   @if (User.Claims.First(c => c.Type == "Role").Value == "True")
   {
       <a class="btn btn-outline-primary mx-2" href="/Publishers/NewPublisher">Dodaj nowego</a>
   }
</div>
</body>
</html>