@page
@model library.Pages.Genres.NewGenre

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Nowy gatunek";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
@{await Html.RenderPartialAsync("_NavigationPartial");}
<div>
    <form method="post">
        <input type="text" placeholder="Nowy gatunek" name="Name" class="form-control"/>
        <input type="text" placeholder="Opis" name="Description" class="form-control"/>
        <input type="submit" class="btn btn-primary" value="Dodaj"/>
    </form>
</div>
</body>
</html>