@page
@model library.Pages.Genres.ShowGenres

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Gatunki";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
@{await Html.RenderPartialAsync("_NavigationPartial");}
<div>
    <table class="table-striped">
        <thead>
        <tr>
            <th>Gatunek</th>
            <th>Opis</th>
        </tr>
        </thead>>
        <tbody>
        @foreach (var item in Model.Genres)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>@item.Description</td>
            </tr>
        }
        </tbody>
    </table>
    <a class="btn btn-outline-primary mx-2" href="/Genres/NewGenre">Dodaj nowego</a>
</div>
</body>
</html>