@page
@model library.Pages.Index

@{
    ViewData["Title"] = "Strona główna";
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    Siema
</div>
</body>
</html>