@page
@model library.Pages.Index

@{
    ViewData["Title"] = "Strona główna";
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
@{await Html.RenderPartialAsync("_NavigationPartial");}
<div>
    Strona główna biblioteki.
</div>
</body>
</html>