@page
@model library.Pages.Account.Login
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form method="post" class="d-flex flex-column gap-2 col-4">
        <input type="text" asp-for="NewRegister.Username" placeholder="Nazwa użytkownika" name="Username" class="form-control" required="required"/>
        <input type="password" asp-for="NewRegister.Password" placeholder="Haslo" name="Password" class="form-control"  required="required"/>
        <input type="submit" class="btn btn-primary" value="Login"/>
    </form>
    <br/>
    <a class="btn btn-outline-primary" href="/Register/Register">Załóż konto</a>
</div>
</body>
</html>