@page
@model library.Pages.Authors.ShowAuthors

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Autorzy";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
@{await Html.RenderPartialAsync("_NavigationPartial");}
<div>
    <table class="table-striped">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
        </tr>
        </thead>>
        <tbody>
        @foreach (var item in Model.Authors)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>@item.LastName</td>
            </tr>
        }
        </tbody>
    </table>
    <br/>
    <a class="btn btn-outline-primary mx-2" href="/Authors/NewAuthor">Dodaj nowego</a>
</div>
</body>
</html>